.figure
	position: absolute
	z-index: 1
	transform: translateY(-50%)
	img
		max-width: 100%
		display: block
.figure-main-top-right
	right: 0
	width: 164px
	margin-top: -17px
.figure-main-middle-left
	top: 50%
.figure-main-bottom-right
	right: 0
	top: 100%
	transform: translateY(-22%)