.icon-arrow-prev {
  width: 0.57em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-right {
  width: 0.57em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-fb {
  width: 0.4em;
  height: 1em;
  fill: currentColor;
}
.icon-in {
  width: 1.07em;
  height: 1em;
  fill: currentColor;
}
.icon-tw {
  width: 1.27em;
  height: 1em;
  fill: currentColor;
}
